*{
  margin: 0;
  padding: 0;
}

html, body{
height: 100%;
}
body{
  background-color: rgb(124, 236, 240);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  height: 700px;
  width: 700px;
  background-color: rgb(190, 213, 233);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
}
h2{
  text-align: center;
  margin-bottom: 1em;
}
.data{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transform: rotateY(180deg);
  transition: transform 0.5s;
  animation: 2s hideCard linear;
}
@keyframes hideCard {
  0%, 70%{
    transform: rotateY(0);
  }
  100%{
    transform: rotateY(180deg);
  }
}
.data img{
  max-width: 100%;
  max-height: 100%;
  transform: scale(0);
  transition: transform 0.5s;
  animation: 2s hideImage linear;
}
@keyframes hideImage {
  0%,70%{
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
}

.data.active{
  transform: rotateY(0);
}

.data.wrong{
  background-color: #fd245a;
}

.data.correct{
  background-color: #4caf50;
}

.data.active img{
  transform: scale(1);
}